# Copy this file to .env.local and fill in the values.
# Never commit .env.local to version control.

# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-05-18

# Toggles Sanity CDN usage for cached vs fresh data,
# `false` recommended in local development for have fresh data
# `true` recommended in production for cached data (low cost, less bandwidth usage)
NEXT_PUBLIC_SANITY_USE_CDN=false

SANITY_API_READ_TOKEN=your-read-token
SANITY_API_WRITE_TOKEN=your-write-token

# Brevo
BREVO_API_KEY=your-api-key
BREVO_PENDING_LIST_ID=your-pending-list-id
BREVO_CONTRIBUTORS_LIST_ID=your-contributors-list-id
